@import "tailwindcss";

@font-face {
    font-family: Mageline;
    src: url("/fonts/mageline.ttf") format("truetype");
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-cream: #fef7e6;
    --color-greenish: #1e2d1f;
    --color-moss-dark: #1e2d1f;
    --color-moss: #334d35;
    --color-moss-light: #476b4a;
    --color-charcoal: #333333;
    --color-olive-brown: #4b4337;
    --color-forest: #2a3a24;
    --font-mageline: "Mageline", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-caveat: "Caveat", cursive;
}

@utility h-hero {
    height: calc(100vh - 6rem);
}

@layer base {
    html {
        @apply bg-white;
    }
    body {
        @apply bg-cream text-olive-brown font-medium;
    }
    header,
    footer {
        @apply px-4 py-4 sm:px-12 md:px-20;
    }
    #header,
    #footer {
        @apply container mx-auto;
    }
    section {
        @apply mx-auto max-w-6xl px-6 py-12 md:px-8 lg:px-12;
    }

    button {
        @apply cursor-pointer;
    }

    .btn-primary {
        @apply bg-moss text-cream hover:bg-moss-light px-4 py-2 font-semibold shadow-md transition duration-200;
    }

    h1 {
        @apply font-mageline text-moss-light mb-4 text-center text-5xl font-bold lg:text-6xl;
    }

    h2 {
        @apply font-mageline text-moss-light mb-4 text-center text-4xl font-bold;
    }

    h3 {
        @apply font-mageline text-moss-light mb-4 text-center text-3xl font-bold;
    }

    /* p {
        @apply indent-8;
    } */

    label {
        @apply text-cream mb-4 block text-lg;
    }

    input,
    textarea {
        @apply bg-cream text-moss-dark placeholder:text-moss-light caret-moss-light mb-4 w-full p-4 focus:ring-4 focus:ring-[hsl(115,40%,40%)] focus:outline-none;
    }

    .submit-button {
        @apply text-cream w-full bg-[hsl(115,40%,30%)] p-4 hover:bg-[hsl(115,40%,35%)] focus:ring-4 focus:outline-none;
    }

    .room-features-container {
        @apply grid grid-cols-1 grid-rows-3 gap-4 text-center;

        .room-features {
            @apply bg-moss-light text-cream flex h-full w-full flex-col items-center justify-center gap-2 py-6;
            .title {
                @apply text-lg font-semibold;
            }
            .description {
                @apply opacity-80;
            }
        }
    }

    .social{
        @apply bg-cream/10 hover:bg-cream/20 flex h-10 w-10 items-center justify-center rounded-full transition-colors duration-200;
    }
}

@utility font-handwriting {
    @apply font-caveat;
}


@utility footer-social{
    @apply bg-cream/10 hover:bg-cream/20 flex h-10 w-10 items-center justify-center rounded-full transition-colors duration-200 ;
    svg{
        @apply text-cream h-5 w-5;
    }
}
@utility homepage-navbar-social{
    @apply text-white hover:text-cream/80 transition-colors duration-200 ;
   
}
@utility navbar-social{
    @apply text-moss-light hover:text-moss-dark/80 transition-colors duration-200 ;
   
}

.activities{
    @apply flex flex-col gap-4 ;
    li{
        @apply bg-moss-light text-cream p-8 text-2xl flex items-center justify-center;
    }
    /* odd */
    li:nth-child(odd) {
        @apply bg-moss;
    }}
