@import "tailwindcss";

@font-face {
    font-family: Mageline;
    src: url("/fonts/mageline.ttf") format("truetype");
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-cream: #fef7e6;
    --color-greenish: #1e2d1f;
    --font-mageline: "Mageline", sans-serif;
}

@utility h-hero {
    height: calc(100vh - 6rem);
}

@layer base {
    body {
        @apply text-foreground bg-cream/50;
    }
    header,
    footer {
        @apply px-20 py-4;
    }
    #header,
    #footer {
        @apply container mx-auto;
    }
    section {
        @apply mx-auto min-h-screen px-6 py-12 md:px-8 lg:px-12 ;
    }
  
    button {
        @apply cursor-pointer;
    }
}
